facenet_pytorch
fastapi
Flask
mtcnn
opencv-python-headless
opencv-python
opencv-contrib-python
numpy
pandas
Pillow
pydantic
pymongo
PyYAML
Requests
streamlit
torch
uvicorn
torchvision
mongoengine
gtts
jwt
flask-cors



